# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Web related
web/.sass-cache/
web/.dart_tool/
web/.cache/
web/.packages

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# Mac related
*.DS_Store

# Windows related
Thumbs.db
